<div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--4-col-phone">
<base-card>
  <base-card-title>
    <h2>Formulario de Empresas</h2>
  </base-card-title>
  <base-card-body class="form">
      <div class="form__article">
        <h3>Datos empresariales</h3>

        <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--6-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input required="" [(ngModel)]="empresa.nit" class="mdl-textfield__input" type="number" id="nit" placeholder="NIT"/>
          </div>

          <div class="mdl-cell mdl-cell--6-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input required="" [(ngModel)]="empresa.nombre" class="mdl-textfield__input" type="text" id="nombre" placeholder="Nombre Empresa"/>
          </div>
        </div>

        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--6-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input required="" [(ngModel)]="empresa.codigo" class="mdl-textfield__input" type="text" id="codigo" placeholder="Codigo"/>
            </div>
  
            <div class="mdl-cell mdl-cell--6-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input required="" [(ngModel)]="empresa.nombreCorto" class="mdl-textfield__input" type="text" id="nombreCorto" placeholder="Nombre corto"/>
            </div>
        </div>
      </div>

      <div *ngFor="let boton of info">
        <button *ngIf="boton == 'Guardar'" (click)="saveEmpresa()" id="submit_button" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
          Enviar
        </button><br>
        <button *ngIf="boton == 'Editar'" (click)="saveUpdate()" id="submit_button" class="btn btn-info">
          Actualizar
        </button>
      </div>
  </base-card-body>
</base-card>
</div>

<div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--4-col-phone">
  <base-card>
    <base-card-title>
      <h1 class="mdl-card__title-text">Empresas registradas</h1>
    </base-card-title>
    <base-card-body class="no-padding">

      <table class="table table-striped">
        <thead>
          <tr>
          <th style="color:#ffff">Id</th>
          <th style="color:#ffff">NIT</th>
          <th style="color:#ffff">Nombre</th>
          <th style="color:#ffff">Fecha Creación</th>
          <th style="color:#ffff">Codigo</th>
          <th style="color:#ffff">Nombre Corto</th>
          <th style="color:#ffff">Editar</th>
          <th style="color:#ffff">Eliminar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cli of clientess; let i = index">
          <td style="color:#ffff">{{ cli._id }}</td>
          <td style="color:#ffff">{{ cli.nit }}</td>
          <td style="color:#ffff">{{ cli.nombre}}</td>
          <td style="color:#ffff">{{ cli.fechaCreacion}}</td>
          <td style="color:#ffff">{{ cli.codigo }}</td>
          <td style="color:#ffff">{{ cli.nombreCorto }}</td>
          <td>
          <button type="button" class="btn btn-info" (click)="seventhModal" (click)="onUpdate(cli, cli._id)">Editar</button>
          </td>
          <td>
          <button type="button" class="btn btn-danger" (click)="onDelete(cli._id)">Eliminar</button>
          </td>
          </tr>
        </tbody>
      </table>

    </base-card-body>
  </base-card>
</div>
